@import './normalize.css';

:root{
    /* 变量 */
    --color-text:#666;
    --color-high-text:#ff5777;
    --color-tint:#ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;
}

*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}